<div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }} <a class="pull-right" href="{% url 'recovery' %}">¿La olvidaste?</a></label>
    <input type="password" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="" >
    {% if field.errors %}
    	<span class="glyphicon glyphicon-remove form-control-feedback"></span>
    {% endif %}
</div>

{% if field.errors %}
<script type="text/javascript">
	$(function() {
		$('#{{ field.id_for_label }}').tooltip({
			'title': "{{ field.errors.as_text }}",
			'placement': 'right'
		});
	});
</script>
{% endif %}