{% extends "base_site.html" %}

{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/refineslide.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/refineslide-theme-dark.css' %}" />
{% endblock %}

{% block content %}
   
<div class="listing-page-top tooltip-demo">

        <div class="container titles">
            <div class="col-md-9 col-sm-9">
                <h2><small>{{ anuncio.marca }}</small></h2>
                <h2>{{ anuncio.modelo }}</h2>
                <p> 
                    <span class="label label-default"><i class="fa fa-eye"></i> 2345 </span><span class="label label-info label-vendor">Vendedor Particular</span> 
                </p>
                <p> 
                    <strong>Anuncio ID:</strong> {{ anuncio.id }} &middot; <strong>Publicado:</strong> 3 Days ago
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <h2><small>&nbsp;</small></h2>
                <h2><span class="label label-success pull-right">$ {{ anuncio.precio }}</span></h2>
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"><i class="fa fa-bars"></i> Descripción</a>
                </li>
                <!--<li class="pull-right active"><a href="#"><i class="fa fa-print"></i>  Print Listing</a>
                </li>-->
                <li class="pull-right active"><a href="#"><i class="fa fa-envelope"></i> Contacto</a>
                </li>
            </ul>
        </div>
    </div>





    <!-- Begin page content -->
    <div class="listing-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="group section-wrap upper" id="upper">
                        <div class="wrap group">
                            <div class="section-2 group">
                                <ul id="images" class="rs-slider">
                                    <li class="group">
                                        <a href="#">
                                            <img src="{{ anuncio.imagen.large.url }}" alt="" />
                                        </a>

                                    </li>
                                    <li class="group">
                                        <a href="#" class="slide-parent">
                                            <img src="http://photos.foter.com/147/lamborghini-aventador-lp700-4-2_l.jpg" alt="" />
                                        </a>

                                    </li>
                                    <li class="group">
                                        <img src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_523246fd7677f_1.jpg" alt="" />

                                    </li>
                                    <li class="group">
                                        <img src="http://photos.foter.com/68/new-money-movement_l.jpg" alt="" />
                                    </li>
                                    <li class="group">
                                        <img src="http://photos.foter.com/bmw-z4-sdrive-23i-hdr_l.jpg" alt="" />
                                    </li>
                                </ul>
                            </div>
                            <!-- /.section-2 -->
                        </div>
                        <!-- /.wrap -->
                    </div>
                    <!-- /#upper -->
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <h3 class="panel-title">Carácterísticas</h3>
                        </div>
                        <div class="panel-body">

                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Vendedor</td>
                                        <td>Particular</td>
                                    </tr>
                                    <tr>
                                        <td>Marca</td>
                                        <td>Honda</td>
                                    </tr>
                                    <tr>
                                        <td>Modelo</td>
                                        <td>Civic 1.5 Hatchback</td>
                                    </tr>
                                    <tr>
                                        <td>Año</td>
                                        <td>2013</td>
                                    </tr>
                                    <tr>
                                        <td>Tipo</td>
                                        <td>2011/11/23</td>
                                    </tr>
                                    <tr>
                                        <td>Combustible</td>
                                        <td>Diesel</td>
                                    </tr>
                                    <tr>
                                        <td>Motor</td>
                                        <td>Power3200 ( 150 KW / 700 BHP )</td>
                                    </tr>
                                    <tr>
                                        <td>Transmisión</td>
                                        <td>Manual
                                    </tr>
                                    <tr>
                                        <td>Color</td>
                                        <td>Black</td>
                                    </tr>
                                    <tr>
                                        <td>Puertas</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Kilometraje </td>
                                        <td>40,200 KM</td>
                                    </tr>
                                    <tr>
                                        <td>Unico Dueño</td>
                                        <td>Si</td>
                                    </tr>
                                    <tr>
                                        <td>Aire Acondicionado</td>
                                        <td>EURO 5</td>
                                    </tr>
                                    <tr>
                                        <td>Cierre Centralizado</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Llantas</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Alarma</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Frenos ABS</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Ciudad</td>
                                        <td>England</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Features</a>
                </li>
                <li><a href="#profile" data-toggle="tab">Social Widget</a>
                </li>
                <li><a href="#profile" data-toggle="tab">Comentarios (12)</a>
                </li>

            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <h4>Descripción General</h4>

                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>

                    <h4>Caracteristicas Mecanicas</h4>

                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>

                    <hr>

                    <div class="row">

                        <div class="col-md-4">
                            <h4>Interior</h4>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>jean shorts Austin</li>
                                <li><i class="fa-li fa fa-check-square"></i> Aliquip placeat salvia</li>
                                <li><i class="fa-li fa fa-check-square"></i>salvia cillum iphone</li>
                                <li><i class="fa-li fa fa-check-square"></i> Aliquip placeat salvia</li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <h4>Exterior</h4>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>placeat salvia cillum</li>
                                <li><i class="fa-li fa fa-check-square"></i>Mustache cliche tempor</li>
                                <li><i class="fa-li fa fa-check-square"></i>tofu stumptown aliqua</li>
                                <li><i class="fa-li fa fa-check-square"></i>carles vegan helvetica</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Otras Caracteristicas</h4>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>jean shorts Austin</li>
                                <li><i class="fa-li fa fa-check-square"></i> Aliquip placeat salvia</li>
                                <li><i class="fa-li fa fa-check-square"></i>salvia cillum iphone</li>
                                <li><i class="fa-li fa fa-check-square"></i> Aliquip placeat salvia</li>
                            </ul>
                        </div>
                    </div>





                </div>
                <div class="tab-pane fade" id="profile">
                    <h4>Your Social Widget Goes Here</h4>

                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                        booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente
                        labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus
                        tattooed echo park.</p>
                </div>
                <div class="tab-pane fade" id="dropdown1">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles
                        etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester
                        cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                </div>
                <div class="tab-pane fade" id="dropdown2">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high
                        life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
                        salvia freegan, sartorial keffiyeh echo park vegan.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-foot">


        <div class="container">
            <h4>Featured in <small>Secondary text</small></h4>

            <div class="row">



                <div class="col-sm-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img alt="Thumbnail" src="http://lorempixel.com/350/150/transport/">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img alt="Thumbnail" src="http://lorempixel.com/350/150/transport/">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img alt="Thumbnail" src="http://lorempixel.com/350/150/transport/">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img alt="Thumbnail" src="http://lorempixel.com/350/150/transport/">
                    </a>
                </div>
            </div>
            <hr>
            <p class="lead text-center">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

            <p class="text-center">
                <button type="button" class="btn btn-primary btn-lg">Get Started!</button>
                <button type="button" class="btn btn-success btn-lg">Contact Us</button>
            </p>
        </div>
    </div>

{% endblock %}

{% block extra_script %}
    
<script src="{% static 'assets/js/jquery.refineslide.js' %}"></script>
<script>
    $(function () {
        var $upper = $('#upper');

        $('#images').refineSlide({
            transition: 'fade',
            onInit: function () {
                var slider = this.slider,
                    $triggers = $('.translist').find('> li > a');

                $triggers.parent().find('a[href="#_' + this.slider.settings['transition'] + '"]').addClass('active');

                $triggers.on('click', function (e) {
                    e.preventDefault();

                    if (!$(this).find('.unsupported').length) {
                        $triggers.removeClass('active');
                        $(this).addClass('active');
                        slider.settings['transition'] = $(this).attr('href').replace('#_', '');
                    }
                });

                function support(result, bobble) {
                    var phrase = '';

                    if (!result) {
                        phrase = ' not';
                        $upper.find('div.bobble-' + bobble).addClass('unsupported');
                        $upper.find('div.bobble-js.bobble-css.unsupported').removeClass('bobble-css unsupported').text('JS');
                    }
                }

                support(this.slider.cssTransforms3d, '3d');
                support(this.slider.cssTransitions, 'css');
            }
        });
    });
</script>

{% endblock %}