<div class="tab-pane in" id="section_photos">
    <div class="form-group">
        <label for="exampleInputEmail1">Imagen de Portada</label>
        <input type="file" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input type="file" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input type="file" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input type="file" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input type="file" class="form-control" id="exampleInputEmail1" >
    </div>
</div>