<div class="tab-pane in" id="section_features">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label for="exampleInputEmail1">Cilindrada</label>
                <select class="form-control">
                    <option>1.5</option>
                    <option>1.6</option>
                    <option>1.7</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">Potencia</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ZYBC87">
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">Motor</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ZYBC87">
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">Dirección</label>
                <select class="form-control">
                    <option>Hidraulica</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">Puertas</label>
                <select class="form-control">
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">Transmisión</label>
                <select class="form-control">
                    <option>Automática</option>
                </select>
            </div>
        </div>
    </div> 
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Trans. Automatica
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> 4WD
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Alarma
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Alzavidrios Electricos
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Aire Acondicionado
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Catalitico
                    </label>
                </div>
            </div>
        </div>
    </div> 
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Cierre Centralizado
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Espejos Electricos
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Frenos ABS
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Llantas
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Radio
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Sunroof
                    </label>
                </div>
            </div>
        </div>
    </div> 
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Único Dueño
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Único Dueño
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Único Dueño
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Único Dueño
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Único Dueño
                    </label>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="exampleInputEmail1">&nbsp;</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Único Dueño
                    </label>
                </div>
            </div>
        </div>
    </div> 
</div>