{% load widget_tweaks %}

<div class="tab-pane in active" id="section_advertisement">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                <label for="exampleInputEmail1">Marca</label>
                {{ form.marca }}
            </div>
            <div class="col-xs-3">
                <label for="exampleInputEmail1">Modelo</label>
                {{ form.modelo }}
            </div>
            <div class="col-xs-3">
                <label for="exampleInputEmail1">Versión</label>
                {{ form.version|add_class:"form-control" }}
            </div>
        </div>
    </div> 
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                <label for="exampleInputEmail1">Patente</label>
                {{ form.patente|add_class:"form-control"|attr:"placeholder:Ej: BCDF12" }}
            </div>
            <div class="col-xs-3">
                <label for="exampleInputEmail1">Año</label>
                {{ form.anio }}
            </div>
            <div class="col-xs-3">
                <label for="exampleInputEmail1">Ciudad</label>
                {{ form.comuna }}
            </div>
            <div class="col-xs-3">
                <label for="exampleInputEmail1">Comuna</label>
                {{ form.comuna }}
            </div>
        </div>
    </div>   
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <label for="exampleInputEmail1">Precio</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{ form.precio|attr:"type:number"|attr:"step:100000"|attr:"min:0"|add_class:"form-control input-lg"|attr:"placeholder:Ej: 3500000" }}
                    <span class="input-group-addon">
                        {{ form.conversable }} conversable
                    </span>
                </div>
            </div>
        </div>
    </div>                            
    <div class="form-group">
        <label for="exampleInputEmail1">Resumen sobre el vehículo</label>
        {{ form.comentario|add_class:"form-control"|attr:"rows:4"|attr:"placeholder:Ej: Vehículo en excelente estado, mantenciones y papeles al día. Neumáticos cambiados hace 1 mes." }}
        <p class="help-block">Máximo 1000 caracteres</p>
    </div>
    
</div>