<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AutoMarket - Signup</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/jquery.fs.selecter.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/scojs.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">

</head>

<body>

    <!-- Wrap -->

    <div id="wrap">
        <div id="landing">
            <div class="header-image">
                <div class="container">
                    <div class="auth-unit">

                        <h3 class="text-brand"><span class="glyphicon glyphicon-dashboard"></span> Auto<span class="sec-brand">Market.</span></h3>

                        <div class="auth-unit-top">
                            <h3>Sign up</h3>
                            <p>it's free to join</p>
                        </div>

                        <div class="auth-unit-inner">
                            <form role="form" class="tooltip-demo">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Choose a Username</label>
                                    <input type="email" class="form-control " id="exampleInputEmail1" placeholder="automarket">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control " id="exampleInputEmail2" placeholder="email@example.com" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" name="pass">
                                </div>
                                <button id="message_trigger_ok" class="btn btn-block btn-success" type="submit">Sign up</button>
                                <hr>

                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login with Twitter" role="button"><i class="fa fa-twitter"></i></a>
                                    <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login in with Facebook" role="button"><i class="fa fa-facebook"></i></a>
                                    <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login in with Google+" role="button"><i class="fa fa-google-plus"></i></a>
                                    <a class="btn btn-default btn-lg" data-toggle="tooltip" title="Login in with Linkedin" role="button"><i class="fa fa-linkedin"></i></a>
                                </div>

                            </form>
                        </div>

                        <br>

                        <a href="login.html" class="btn btn-primary btn-block btn-lg"><strong>Login</strong> to your account</a>

                    </div>
                </div>
            </div>
            <!-- /header-image -->
        </div>
    </div>
    <!-- /Wrap -->





    <!-- Footer -->


    <div id="footer">
        <div class="container">

            <ul class="list-inline">
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="#">Terms</a>
                </li>
                <li><a href="#">About</a>
                </li>
                <li><a href="#">Our Blog</a>
                </li>
                <li><a href="#">Contact Us</a>
                </li>
                <li><a href="#">List your Vehicle</a>
                </li>
                <li><a href="browse-listings-grid.html">Browse Vehicles</a>
                </li>
            </ul>
            <p class="text-muted credit">&copy; 2013 <strong>AutoMarket</strong> &middot; Created by: <a href="https://wrapbootstrap.com/user/themestrap">Themestrap</a> &middot; Powered by: <a href="http://getbootstrap.com/">Bootstrap</a> 
            </p>
        </div>
    </div>


    <!-- /Footer -->


    <!-- JS Assets -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/sco.modal.js"></script>
    <script src="assets/js/sco.confirm.js"></script>
    <script src="assets/js/sco.ajax.js"></script>
    <script src="assets/js/sco.collapse.js"></script>
    <script src="assets/js/sco.countdown.js"></script>
    <script src="assets/js/sco.message.js"></script>


</body>

</html>