{% extends "base_site.html" %}

{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fs.picker.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            {% include "search/refinador.html" %}
        </div>
        <div class="col-md-9 col-sm-8">
            {% include "search/vista_grilla.html" %}
        </div>
    </div>
    <hr>
    <div class="text-center">
        <button class="btn btn-info">Cargar más</button>
    </div>
    <hr>
</div>
    
{% endblock  %}